{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css' %}" rel="stylesheet">
<link rel="icon" href="data:;base64,=">
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
<style>
body {
    background: #004a95;
}

h1 {
    color: #f5dd5d;
}

#header {
    background: #1d7ad7;
}

#branding {
    width: 90%;
}

#site-name {
    float: right;
}

</style>
{% endblock %}
{% block branding %}
<a class="navbar-brand logo-top" href="#">
    <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt=""
         loading="lazy">
    Ihor & Company
</a>
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}